POSTGRES_URL=asdfa
POSTGRES_URL_NON_POOLING=asdfa
POSTGRES_URL_NO_SSL=asdfasd
POSTGRES_PASSWORD=asdfa
POSTGRES_HOST=safdsd
POSTGRES_DATABASE=verceldb
AUTH_SECRET=asdfa
GROQ_API_KEY=sdfas
GROQ_MODEL_NAME=meta-llama/llama-prompt-guard-2-86m